/* <li>Please make the h1 30px, with a little padding on the left, and thin red border</li>
<li>Please make the h2 25px, with padding on top/bottom, a thick gold border, and margin on the top/bottom</li
<li>Please make the spans have a thin black border, a little padding, and blue</li>
<li>Please make the section 25% width, 200px tall, centered, and with a thin purple border</li> */
h1{
    font-size: 30px;
    padding-left: 10px;
    border: 3px solid red;

}
h2{
    font-size: 25px;
    padding: 15px 0;
    border: 10px solid gold;
    margin: 15px 0;
}
span{
    padding:15px;
    border:3px solid black;
    color:blue;
}
section{
    width:25%;
    height: 200px;
    text-align: center;
    border: 3px solid plum;
}