/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  width: 100vw;
  font-family: 'Crimson Text', serif;
}


/******************************************
/* LAYOUT
/*******************************************/
.banner {
  width: 100vw;
  height: 40rem;
  background: linear-gradient(65deg, rgb(226,235,240) 33%, rgb(177,118,85) 75%);
}
header {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-top: 2%;
  color: black;
  font-size: 1.5rem;
  justify-content: right;
  margin-top: 0%;
}
header li {
  display: inline-block;
  padding-right: 2rem;
}
header a {
  text-decoration: none;
  color: black;
}
header ul {
  margin-top: 0;
  margin-bottom: 0;
}
.landing {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background: linear-gradient(65deg, rgb(226,235,240) 33%, rgb(177,118,85) 75%);
}
.h1-container {
  width: 60vw;
  height: 40rem;
}
.h1-content {
  width: 75%;
  font-size: 3rem;
  padding-left: 18rem;
  margin-top: 8rem;
}
.h1-content h1 {
  margin-bottom: 1rem;
}
.landing-mid {
  position: relative;
  margin-left: 19rem;
  margin-bottom: 2.5rem;
}
.search {
  position: absolute;
  top: 20%;
  left: 1%;
  display: inline-block;
}
::placeholder {
  padding-left: 2rem;
}
.landing-icons {
  margin-left: 19rem;
  font-size: 1.2rem;
}
.landing-icons a {
  padding-right: 2rem;
  text-decoration: none;
  color: black;
}
.landing-icons i {
  color: rgb(253,135,0);
}
.raviolo-container {
  background-image: url(../raviolobackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 40vw;
  height: 40rem;
  border-radius: 15px;
}
.about-us-container {
  width: 100vw;
  height: 45rem;
  display: flex;
  flex-direction: row;
  background: linear-gradient(65deg, rgb(226,235,240) 33%, rgb(177,118,85) 85%);
}
.croissant-container {
  background-image: url(../croissants.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 60vw;
}
.about-us-content {
  width: 40vw;
  padding-left: 6rem;
  padding-top: 8rem;
  padding-right: 5rem;
  font-size: 1.5rem;
}
.about-us-content p + p {
  margin-bottom: 3rem;
}
.about-us-content span {
  color: rgb(253,135,0);
  font-size: 1.2rem;
}
.about-us-content h2 {
  font-size: 2.5rem;
}
.menu-container {
  display: flex;
  flex-direction: row;
}
.discover-menu-box {
  background-color: rgb(253,135,0);
  width: 13rem;
  height: 4rem;
  border-radius: 15px 0 0 15px;
  padding-left: 2rem;
  padding-top: 1rem;
}
.discover-menu-box a {
  color: white;
  text-decoration: none;
}
.menu-arrow {
  height: 4rem;
  width: 3.5rem;
  padding-left: 1rem;
  padding-top: 1.2rem;
  background-color: rgb(255,170,77);
  border-radius: 0 15px 15px 0;
}
.menu-arrow a {
  color: white;
  text-decoration: none;
}
.food-container {
  background-color: rgb(230,237,239);
  width: 100vw;
  height: 88rem;
}
.food-container-top {
  padding-top: 5rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
}
.food-container-top span {
  color: rgb(253,135,0);
  font-size: 1.2rem;
}
.food-container-top h2 {
  font-size: 3rem;
}
.menu-anchors {
  padding-right: 2rem;
  padding-left: 2rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}
.menu-anchors:hover {
  color:rgb(253,135,0);
  border-bottom: 1px solid rgb(253,135,0);
}
.pic-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}
.pic-container {
  width: 25rem;
  height: 25rem;
  margin-left: 3.5%;
  margin-bottom: 3.5%;
  position: relative;
}
.pic-container:hover .food-description {
  display: inherit;
}
.food-description {
  padding-top: 5rem;
  text-align: center;
  color: white;
  font-size: 2rem;
  display: none;
}
.food-description h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.food-description span {
  display: block;
  padding-bottom: 1rem;
}
.food-description i {
  color: rgb(253,135,0);
}
.order-now-box {
  text-decoration: none;
  color: white;
  width: 12.5rem;
  height: 3rem;
  margin-top: .5rem;
  padding: .5rem;
  background-color: rgb(253,135,0);
  border-radius: 10px;
  line-height: 3rem;
}
.food-description:hover {
  padding-top: 5rem;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  transition: opacity 0.5s;
}
.pic-container:hover .food-description:hover {
  opacity: 0.5;
}
#raviolo {
  background: center / cover no-repeat url(../raviolo.jpg); 
}
#duck {
  background: center / cover no-repeat url(../duckbreast.jpg); 
}
#shrooms {
  background: center / cover no-repeat url(../assshrooms.jpg); 
}
#avotoast {
  background: center / cover no-repeat url(../avotoast.jpg); 
}
#pappardelle {
  background: center / cover no-repeat url(../pappardelle.jpg); 
}
#pizza {
  background: center / cover no-repeat url(../romansquarepizza.jpg); 
}
#arancini {
  background: center / cover no-repeat url(../arancini.jpg); 
}
#porkchops {
  background: center / cover no-repeat url(../porkchop.jpg); 
}
.scroll-icons {
  padding-top: 1rem;
  text-align: center; 
  color: rgb(253,135,0, .6);
  font-size: 1rem;
}
.scroll-icons i {
  padding-left: 1rem;
  padding-right: 1rem;
}
#big-scroll-icon {
  font-size: 1.5rem;
  color: rgb(253,135,0);
  vertical-align: bottom;
}
.hours-background-container {
  background-color: rgb(246,247,249);
  width: 100vw;
  height: 80rem;
  text-align: center;
  font-size: 1.2rem;
}
.hours-top {
  padding-top: 5rem;
}
.hours-top h2 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hours-top span {
  display: block;
}
.hours-top .call {
  padding-top: 2rem;
}
.hours-top .book {
  color: rgb(253,135,0);
}
.hours-top i {
  color: rgb(253,135,0);
  border-radius: 50%;
  border: 1px solid rgb(253,135,0);
  padding: 1rem;
}
.hours-top .phone {
  color: rgb(253,135,0);
  font-size: 2rem;
  padding-top: 1rem;
}
.hours-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  width: 50vw;
  margin-left: 25.5vw;
}
.hours h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.hours p {
  margin-top: 0;
  font-size: 1.5rem;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 60vw;
  height: 40rem;
  position: relative;
  margin: auto;
  margin-top: 2.5rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.slidepics {
  width: 30rem;
  height: 40rem;
  border-radius: 5%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(253,135,0);
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-radius: 50%;
  border: 1px solid rgb(253,135,0);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50%;
}
.prev {
  left: 0;
  border-radius: 50%;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(253,135,0, .6);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  font-size: 1.5rem;
}
.dots {
  margin-top: 1rem;
  text-align: center;
}
.active, .dot:hover {
  background-color: rgb(253,135,0);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.review-background-container {
  background-color: rgb(255,255,255);
  width: 100vw;
  height: 60rem;
}
.reviews {
  text-align: center;
}
.reviews h3 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#Karen {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
}
.name {
  font-size: 2rem;
  padding-top: 1rem;
}
.job {
  color: rgb(0,0,0, .6);
}
.reviews span {
  display: block;
}
.reviews i {
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: rgb(253,135,0);
  font-size: 1.5rem;
}
.reviews p {
  font-size: 1.2rem;
  width: 80%;
  font-style: italic;
  line-height: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
 
}
.reviews .review {
  padding-top: 5rem;
  color: rgb(253,135,0);
  font-size: 1.5rem;
}
.review-circles {
  padding-top: 3rem;
  text-align: center; 
  color: rgb(253,135,0, .6);
  font-size: .8rem;
}
.review-circles i {
  padding-left: 1rem;
  padding-right: 1rem;
}
#mid-circle {
  font-size: 1.2rem;
  color: rgb(253,135,0);
  vertical-align: bottom;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/******************************************
**********227 DPI MEDIA QUERY**************
******************************************/

/*@media (max-resolution: 227dpi) {
  .h1-content {
    width: 85%;
    font-size: 2rem;
    padding-left: 12rem;
    margin-top: 10rem;
  }
  header li {
    display: inline-block;
    padding-right: 1rem;
  }
  .landing-mid {
    position: relative;
    margin-left: 12rem;
    margin-bottom: 2.5rem;
  }
  .landing-icons {
    margin-left: 12rem;
    font-size: 1.2rem;
  }
  .croissant-container {
    background-image: url(../croissants.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 60vw;
  }
  .about-us-content {
    width: 40vw;
    padding-left: 6rem;
    padding-top: 5rem;
    padding-right: 5rem;
    font-size: 1.2rem;
  }
  .about-us-content h2 {
    font-size: 2rem;
  }
  .discover-menu-box {
    background-color: rgb(253,135,0);
    width: 13rem;
    height: 4rem;
    border-radius: 15px 0 0 15px;
    padding-left: 3rem;
    padding-top: 1rem;
  }
  .food-container {
    background-color: rgb(230,237,239);
    width: 100vw;
    height: 87rem;
  }
  .pic-container {
    width: 15rem;
    height: 15rem;
    margin-left: 5%;
    margin-bottom: 3.5%;
    position: relative;
  }
  .food-description:hover {
    padding-top: 5rem;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    transition: opacity 0.5s;
  }
}*/
/****************************************
*******13 INCH LAPTOP MEDIA QUERY********
****************************************/

@media screen and (max-width: 1280px) {
  .h1-content {
    width: 85%;
    font-size: 2rem;
    padding-left: 12rem;
    margin-top: 10rem;
  }
  header li {
    display: inline-block;
    padding-right: 1rem;
  }
  .landing-mid {
    position: relative;
    margin-left: 12rem;
    margin-bottom: 2.5rem;
  }
  .landing-icons {
    margin-left: 12rem;
    font-size: 1.2rem;
  }
  .croissant-container {
    background-image: url(../croissants.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 60vw;
  }
  .about-us-content {
    width: 40vw;
    padding-left: 6rem;
    padding-top: 5rem;
    padding-right: 5rem;
    font-size: 1.2rem;
  }
  .about-us-content h2 {
    font-size: 2rem;
  }
  .discover-menu-box {
    background-color: rgb(253,135,0);
    width: 13rem;
    height: 4rem;
    border-radius: 15px 0 0 15px;
    padding-left: 3rem;
    padding-top: 1rem;
  }
  .food-container {
    background-color: rgb(230,237,239);
    width: 100vw;
    height: 62rem;
  }
  .pic-container {
    width: 15rem;
    height: 15rem;
    margin-left: 5%;
    margin-bottom: 3.5%;
    position: relative;
  }
  .food-description:hover {
    padding-top: 1rem;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    transition: opacity 0.5s;
  }
}

/********************************** 
MOBILE MEDIA QUERIES **************
**********************************/

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100vw;
    height: 75rem;
    background: linear-gradient(65deg, rgb(226,235,240) 33%, rgb(177,118,85) 75%);
  }
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding-left: 0%;
    padding-top: 5%;
    color: black;
    font-size: 2rem;
    justify-content: right;
    margin-top: 0%;
  }
  header li {
    display: block;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  header a {
    text-decoration: none;
    color: black;
  }
  header ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .landing {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(65deg, rgb(226,235,240) 33%, rgb(177,118,85) 75%);
  }
  .h1-container {
    width: 100vw;
    height: 40rem;
  }
  .h1-content {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding-left: 0;
    margin-top: 0rem;
  }
  .h1-content h1 {
    margin-top: 0;
  }
  .landing-mid {
    text-align: center;
    width: 100vw;
    position: relative;
    margin-left: 0;
    margin-bottom: 2.5rem;
  }
  .search {
    position: absolute;
    top: 20%;
    left: 1%;
    display: inline-block;
  }
  ::placeholder {
    padding-left: 2rem;
  }
  .landing-icons {
    text-align: center;
    margin-left: 0rem;
    font-size: 1.2rem;
  }
  .raviolo-container {
    margin-top: 12.5rem;
    background-image: url(../raviolobackground.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 100%;
    height: 30rem;
    border-radius: 15px;
  }
  .about-us-container {
    width: 100vw;
    height: 73rem;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    background: linear-gradient(245deg, rgb(226,235,240) 33%, rgb(177,118,85) 85%);
  }
  .about-us-content {
    height: 45rem;
    text-align: center;
    width: 100vw;
    padding-left: 2rem;
    padding-top: 8rem;
    padding-right: 2rem;
    font-size: 1.5rem;
  }
  .menu-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center; 
    margin-left: 1.5rem;
  }
  .croissant-container {
    margin-top: 10rem;
    background-image: url(../croissants.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100vw;
    height: 30rem;
  }
  .food-container {
    background-color: rgb(230,237,239);
    width: 100vw;
    height: 256rem;
  }
  .food-container-top {
    padding-top: 5rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
  }
  .food-container-top a {
    display: block;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  .pic-container {
    width: 25rem;
    height: 25rem;
    margin-left: 0%;
    margin-bottom: 5%;
    position: relative;
  }
  .hours-background-container {
    background-color: rgb(246,247,249);
    width: 100vw;
    height: 75.5rem;
    text-align: center;
    font-size: 1.2rem;
  }
  .hours-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin-left: 0;
  }
  .slideshow-container {
    width: 100%;
    height: 30rem;
    position: relative;
    margin: auto;
    margin-top: 2.5rem;
  }
  .slidepics {
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }
  .next {
    right: 0;
    border-radius: 0%;
    border-style: none;
  }
  .prev {
    left: 0;
    border-radius: 0%;
    border-style: none;
  }
  .review-background-container {
    background-color: rgb(255,255,255);
    width: 100vw;
    height: 140rem;
  }
}
