/* NO classes or IDs */
/* Please Make only World and Zebra Blue */
section > h2{
    color:blue;
}
/* Please Make only Zebra Purple */
section > h2+h2{
    color: purple;
}
/* Please Make only Hufflepuff Gold */

/* Please keep Hufflepuff Gold and make ONLY Unicorn Gray  */
section article > h2{
    color:gray;
}
article > h2+h2{
    color: gold;
}