/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 62.5%;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  width: 100%;
}
header > nav > ul > li {
  display: inline-block;
  list-style: none;
  text-align: center;
  font-size: 1rem;
}
#Courses {
  margin: -30px 30px 20px 100px;
  width: 20%;
  border-style: none;
  background: white;
}
#Search {
  margin: -30px 240px 20px 0px;
  width: 40%;
  
}

#logo {
  margin: 0px 250px 0px 0px;
}

.nav > a {
  text-decoration: none;
  margin-right: 35px;
  color: blue;
  font-weight: bold;
}
}
hr {
  clear: both;
}
div {
  clear: both;
}
.content {
  float: left;
  width: 50%;
}
#content-pic {
  margin-top: 100px;
  margin-left: 400px;
}
#right-side {
  margin-top: 200px;
  width: 60%;
}
section h2 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0;
}
section > p {
  font-size: 1.5rem;
}
.button {
  background: blue;
  color: white;
  border-radius: 5px 5px;
  font-size: 1.3rem;
}
::placeholder {
  color: blue;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
input {
  border-style: none;
  background: lightgrey;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
